<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to polymorphic microblog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_for :post, url: posts_path do |f| %>
        <p>
          <%= f.text_area :body,class: 'form-control', placeholder: "Text your Post here" %>
        </p>
        <p>
          <%= f.submit "Create a new post", class: 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <div class="container padding-top-20">
    <div class="row post_body">
      <div class="padding-bottom-post">
        <small><i>Data: <%= post.created_at.strftime('%v %T') %></i></small><br>
        <%= post.body %>
      </div>

      <%= render :partial => 'comments/comment', :collection => post.comments %>

    </div>
    <div class="col-md-6 cooments_form">
      <%= form_for :comment, url: post_comments_path(post) do |f|	%>
        <%= f.text_area :body,class: 'form-control', placeholder: "Text your comment here" %><br>
        <%= f.submit "Create comment", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
<% end %>
