<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to polymorphic microblog</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= form_for :post, url: posts_path do |f| %>
        <p>
          <%= f.text_area :body,class: 'form-control', placeholder: "Text your Post here" %>
        </p>
        <p>
          <%= f.submit class: 'btn btn-primary' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
  <div class="container padding-top-10px">
    <div class="row post_body">
      <div class="padding-bottom-10">
        <small><i>Data: <%= post.created_at.strftime('%v %T') %></i></small><br>
        <%= post.body %>
      </div>
      <div class="comment_body">
        <% post.comments.each do |comment| %>
          <p><small><i><b>Data:</b> <%= comment.created_at.strftime('%v %T') %><br>
          <b>Comment:</b> <%= comment.body %></i></small></p>
        <% end %>
      </div>
      <div class="cooments_form">
        <%= form_for :comment, url: post_comments_path(post) do |f|	%>
          <%= f.text_area :body %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
